<ion-header white>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>电影</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 class="sub-title">正在热映</h2>
  <ion-scroll scrollX="true" style="height:14rem;background:#fff;">
    <div *ngFor="let item of movieInTheater" class="list-item" (click)="gotoDetail(item)">
      <img [src]="item.images.small" height="120"/>
      <i>{{item.title}}</i>
    </div>
  </ion-scroll>
  <h2 class="sub-title">即将上映</h2>
  <ion-scroll scrollX="true" style="height:14rem;background:#fff;">
    <div *ngFor="let item of movieComing" class="list-item">
      <img [src]="item.images.small" height="120"/>
      <i>{{item.title}}</i>
    </div>
  </ion-scroll>
</ion-content>
